* {
    box-sizing: border-box;
    background-color: royalblue;
}



body {
    font-family: 'Times New Roman', Times, serif;
}




header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 120px;
    width: 100%;

}

h1 {
    margin-right: 900px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

nav a {
    padding: 10px;
    color: goldenrod;
    margin-right: 20px;
}

h2 {
    background-color: goldenrod;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    background: navy;
    color: goldenrod;
}

.hero-banner {
    margin: 0px;
    padding: 10px;
    background-color: goldenrod;
    color: navy;
    text-align: center;
    

}
