* {
    box-sizing: border-box;
    background-color: royalblue;
}



body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}




header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 120px;
    width: 100%;

}

h1 {
    margin-right: 800px;
    background-color: navy;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: navy;
    padding: 20px;
}

nav a {
    padding: 10px;
    background-color: navy;
    color: goldenrod;
    margin-right: 20px;
}

h2 {
    background-color: goldenrod;
    color: navy;
}

h3 {
    background-color: navy;
    color: goldenrod;
    margin: 0px;
}


main {
    margin-top: 50px;
    margin-bottom: 40px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    background: navy;
    color: goldenrod;
}

.hero-banner {
    margin: 0px;
    padding: 20px;
    background-color: goldenrod;
    color: navy;
    text-align: center;
}

.flex-container, p {
    margin: 0px;
    padding: 15px;
    background-color: navy;
    color: goldenrod;
    text-align: center;
}

.flex-item {
    background-color: navy;
    color: goldenrod;
}

.col {
    background-color: navy;
    color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.row {
    background-color: navy;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
